# macOS
.DS_Store
.AppleDouble
.LSOverride

# Icones de Finder
Icon?
._*

# Archivos de Hammerspoon
.hammerspoon/debug.log

# Logs del sistema
*.log
*.swp

# VSCode
.vscode/

# Archivos temporales
*.tmp
*.bak
*.old
*.orig